<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee directory</title>
</head>
<body>
<h3>Employee directory</h3>
<hr>
<table border="1">
    <thead>
    <tr>
        <th>First name</th>
        ,<th>Last name</th>
        <th>email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee:${employees}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.email}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>